@use '../../../shared/global-styles.scss' as *;

#contact {
  min-height: 100vh;
}

.btn-box {
  display: flex;
  justify-content: center;
}

.contact-card {
  border: 2px solid $avt-orange;
  background-color: $avt-navy;
  color: $avt-white;
}

.contact-info {
  display: flex;
  align-items: center;
  height: 80px;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
}

.request-textarea {
  height: 140px;
}
