@use '../../shared/global-styles.scss' as *;

#why-us {
  min-height: 100vh;
}

.card-centered {
  display: flex;
  justify-content: center;
}

.bgColor {
  border: 1px solid black;
}

.grass {
  color: #4caf50;
}

.inventory_2 {
  color: #388e3c;
}

.directions_boat {
  color: #1976d2;
}

.public {
  color: #fbc02d;
}

.handshake {
  color: #e64a19;
}

.timeline-step {
  position: relative;
  text-align: center;
}

.timeline-step::after {
  content: '→';
  position: absolute;
  right: -20px;
  top: 25%;
  font-size: 20px;
  color: #999;
}

.timeline-step:last-child::after {
  content: '';
}

@media (max-width: 768px) {
  .timeline-container {
    flex-direction: column;
  }

  .timeline-step {
    margin-bottom: 1rem;
  }

  .timeline-step::after {
    content: '↓';
    right: 50%;
    top: 80%;
    transform: translateX(50%);
  }
}
