@use '../../shared/global-styles.scss' as *;

.hero-container {
  padding: 40px;
}
#mision-vision {
  min-height: 100vh;
}
.btn {
  font-size: 11px;
  width: 180px;
  margin-right: 5px;
}
.img-cuervo {
  display: flex;
  justify-content: center;
}
.card-text {
  margin-top: 10px;
}

.card-centered {
  display: flex;
  justify-content: center;
}
