@use '../../shared/global-styles.scss' as *;

#contact {
  min-height: 100vh;
}

.contact-card {
  position: relative;
  border: 2px solid $avt-orange;
  background-color: $avt-navy;
  color: $avt-white;
}

/* Overlay de carga sutil y profesional */
.loading-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem; /* coincide con rounded-4 */
  background-color: rgba($avt-navy, 0.6);
  color: $avt-white;
  z-index: 10;
}

.contact-info {
  display: flex;
  align-items: center;
  height: 80px;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
}

.btn-habeas {
  background-color: $avt-orange-red;
}
.modal-body {
  max-height: 60vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $avt-orange;
    border-radius: 4px;

    &:hover {
      background-color: darken($avt-orange, 10%);
    }
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
}
