@use '../../shared/global-styles.scss' as *;

#services {
  min-height: 100vh;
}
.service-boxs {
  width: 80px;
  height: 80px;
}
.material-icons{
  color: black;
}

.bg-orange{
  height: 50px;
  width: 50px;
  background-color: $avt-orange;
}
.bg-light-navy {
  height: 50px;
  width: 50px;
  background-color: $avt-light-navy;
}

.bg-green{
  height: 50px;
  width: 50px;
  background-color: $avt-green;
}

.bg-grey{
  height: 50px;
  width: 50px;
  background-color: $avt-light-navy;
}

#contact {
  min-height: 100vh;
}

.btn-box{
  display: flex;
  justify-content: center;
}

.contact-card {
  border: 2px solid $avt-orange;
  background-color: $avt-navy;
  color: $avt-white;
}

.contact-info {
  display: flex;
  align-items: center;
  height: 80px;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  }
}

.request-textarea {
  height: 140px;
}

.modal-body {
  max-height: 60vh;
  overflow-y: auto;
  
  &::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $avt-orange;
    border-radius: 4px;
    
    &:hover {
      background-color: darken($avt-orange, 10%);
    }
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
}